<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.example.ivorange.newproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
        </activity>

        <provider
            android:name=".DemoProvider"
            android:authorities="co.example.ivorange.newproject.DemoProvider" />

        <activity android:name=".GestureTestDemo" >
        </activity>
        <activity android:name=".ListViewUseCheckBox" >
        </activity>
        <activity android:name=".reference.RoundDrawable" >
        </activity>
        <activity android:name=".reference.ReferenceActiive" >
        </activity>
        <activity android:name=".InstanceState.InstanceActive" >
        </activity>
        <activity android:name=".drawingCache.DrawingCacheActive" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Interfacedemo.InterfaceDemo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".singleTask.standardDemo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".parsexmldemo.ParseXmlActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
